html{
    background-color: #140324;
    overflow: hidden;
}

body {
    padding-bottom: -150px;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 275%;
    color: white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 130%;
    color: white;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}

i {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: white;
}

#title {
    padding-top: 100px;
    padding-left: 10%;
    padding-bottom: 20px;
}

#slogan {
    padding-left: 10%;
}

#description {
    padding-right: 15%;
    padding-left: 10%;
}

#jointImage {
    position: absolute;
    bottom: -200px;
    left: -35px;
    width: 130%;
    max-width: 650px;
    min-width: 300px;
}

.rotate {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari */
    transform: rotate(45deg);
}