body {
    background-color: #140324;
    margin-bottom:-10px;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 275%;
    color: white;
}

#title {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}

#slogan {
    background-color: cornflowerblue;
}

#description {
    background-color: firebrick;
}

#imageWrapper { 
    background-color: aqua;
    position: relative; 
    height: 700px;
} /* height is for display purposes only */

#jointImage {
    position: fixed;
    /*bottom: -35%;*/
    bottom: -200px;
    left: -35;
    width: 130%;
    max-width: 650px;
    min-width: 300px;
}

.rotate {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari */
    transform: rotate(45deg);
}